<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/order" routerLinkActive="active">Place Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/client/info" routerLinkActive="active">Client Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/client/orders" routerLinkActive="active">Client Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/client/addresses" routerLinkActive="active">Client Addresses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/client/address" routerLinkActive="active">Add Address</a>
      </li>
    </ul>
  </div>
</nav>

